#!/bin/bash -l
{%- if WFLOW_MANAGER != "rocoto" %}
{%- if SCHED == "slurm" %}
#SBATCH --account={{ ACCOUNT }}
#SBATCH --job-name={{ job_name }}
#SBATCH --output={{ output_name }}
#SBATCH --partition={{ partition_queue }}
#SBATCH --qos={{ qos }}
#SBATCH --time={{ wall_time }}
#SBATCH --nodes={{ num_nodes }}
#SBATCH --ntasks-per-node={{ ntasks_per_node }}
#SBATCH --mem={{ memory_per_node }}
{%- elif SCHED == "pbs" %}
#PBS -S /bin/bash
#PBS -A {{ ACCOUNT }}
#PBS -N {{ job_name }}
#PBS -o {{ output_name }}
#PBS -j oe
#PBS -q {{ partition_queue }}
#PBS -l walltime=02:30:00
#PBS -l nodes={{ num_nodes }}:ppn={{ ntasks_per_node }}
#PBS -l mem={{ memory_per_node }}
{%- endif %}
{%- endif %}

## Export environment variables


## Load module files for specific task
{%- if MACHINE == "gaeac6" %}
module reset
{%- else %}
module purge
{%- endif %}
source "{{ HOMEufsda }}/versions/run.ver_{{ MACHINE }}"

module use {{ HOMEufsda }}/modulefiles/tasks/{{ MACHINE }}
module load task.{{ task_name }}

## Run task script
{{ HOMEufsda }}/scripts/exufsda_{{ task_name }}.sh
