[submodule "sorc/ufs_model.fd"]
	path = sorc/ufs_model.fd
	url = https://github.com/ufs-community/ufs-weather-model.git
	ignore = dirty
[submodule "sorc/UFS_UTILS.fd"]
	path = sorc/UFS_UTILS.fd
	url = https://github.com/ufs-community/UFS_UTILS.git
	ignore = dirty
[submodule "sorc/jedi-bundle"]
	path = sorc/jedi-bundle
	url = https://github.com/NOAA-EPIC/jedi-bundle.git
	branch = sync_gdas
	ignore = dirty
[submodule "sorc/jcb-algorithms"]
	path = sorc/jcb-algorithms
	url = https://github.com/NOAA-EPIC/jcb-algorithms.git
	ignore = dirty
[submodule "sorc/jcb-gdas"]
	path = sorc/jcb-gdas
	url = https://github.com/NOAA-EPIC/jcb-gdas.git
	ignore = dirty
