export ACCOUNT="{{ ACCOUNT }}"
export APP="{{ APP }}"
export COMINgdas="{{ COMINgdas }}"
export COMINgfs="{{ COMINgfs }}"
export envir="{{ envir }}"
export HOMEufsda="{{ HOMEufsda }}"
export IC_DATA_MODEL="{{ IC_DATA_MODEL }}"
export KEEPDATA="{{ KEEPDATA }}"
export MACHINE="{{ MACHINE }}"
export model_ver="{{ model_ver }}"
export NPROCS_FCST_IC="{{ NPROCS_FCST_IC }}"
export PTMP="{{ PTMP }}"
export RES="{{ RES }}"
export SCHED="{{ SCHED }}"
export WORKFLOW_MANAGER="{{ WORKFLOW_MANAGER }}"
